<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ACT上下関係判定システム</title>
<link th:href="@{/css/style.css}" rel="stylesheet">

</head>
<body>
  <div class = 'result_title'>
    <p><b th:text="${screenName}"></b></p>
  </div>
    <table id = 'Judg_result'>
      <tbody>
        <tr>
          <td id = 'item'>社歴</td>
          <td id = 'Judg_result_2' th:text="${historyResult}"></td>
        </tr>
        <tr>
          <td id = 'item'>年齢</td>
          <td id = 'Judg_result_2' th:text="${ageResult}"></td>
        </tr>
        <tr>
          <td id = 'item'>役職</td>
          <td id = 'Judg_result_2' th:text="${positionResult}"></td>
        </tr>
      </tbody>
    </table>
  <br>
   <div class = 'result_detail'>
     <p>詳細情報</p>
     <table   id = 'result_detail_info'>
       <thead>
         <tr>
         <th>名前</th>
         <th>入社年月日</th>
         <th>年齢</th>
         <th>所属チーム</th>
         <th>役職</th>
         </tr>
       </thead>
       <tbody align = center>
              <tr>
              <td>田中太郎</td>
              <td>2024/01/23</td>
              <td>26歳</td>
              <td>フレキシブル</td>
              <td>一般</td>
              </tr>
           </tbody>
     </table>
   </div>
   <br>
   <form th:action="@{/move}" method="post" >
        <p>
            <input type="button" value="戻る" class="back_button">
        </p>
    </form>
</body>
</html>